<h1>Admin Preferences</h1>

<ul>
  <li><b>Artist Sort Order: </b> <%= @preference.artist_sort_order %></li>
  <li><b>Song Sort Order: </b> <%= @preference.song_sort_order %></li>
  <li><b>Allow Artist Creation: </b> <%= @preference.allow_create_artists %></li>
  <li><b>Allow Song Creation: </b> <%= @preference.allow_create_songs %></li>
</ul>

<%= link_to "Edit Preferences", edit_preference_path(@preference) %>
